body {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	background-color: rgb(240, 240, 240);
}

hr {
	border: none;
	border-top: 1px dotted rgb(0, 0, 0);
	color: #fff;
	height: 1px;
	width: 100%;
}

#topnav {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	overflow: hidden;
	margin-bottom: 5px;
	border-radius: 0px 0px 0px 0px;
	border: 1px rgb(240, 240, 240);
	background-color: rgb(240, 240, 240);
}

#topnav a {
	float: left;
	display: block;
	color: #484848;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#topnav a:hover {
	background-color: rgb(240, 240, 240);
	color: rgb(83, 126, 236);
}

#wrap {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #696969;
	background-color: rgb(240, 240, 240);
}

#footer {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	left: 0;
	padding: 10px;
	margin-bottom: 0px;
	border-radius: 0px 0px 0px 0px;
	border: 1px rgb(240, 240, 240);
	background-color: rgb(240, 240, 240);
	text-align: center;
}