@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
	background-color: rgb(255, 255, 255);
}


#topnav {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	overflow: hidden;
	margin-bottom: 5px;
	border-radius: 0px 0px 0px 0px;
	border: 1px solid #ffffff;
	background-color: rgb(255, 255, 255);
}

#topnav a {
	float: left;
	display: block;
	color: #484848;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#topnav a:hover {
	background-color: rgb(255, 255, 255);
	color: black;
}

#wrap {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #696969;
	background-color: rgb(250, 250, 250);
}

#footer {
	font-family: "Raleway", Arial, Helvetica, sans-serif;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 0px 0px 0px 0px;
	border: 1px solid #ffffff;
	background-color: rgb(255, 255, 255);
	text-align: center;
}